body{
background-color: black;
color:yellow

}

h1{
font-size: 36px;
color:white;
text-align: center;
}
h2{
    color: powderblue;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}
p{
font-size: 25px;
}

/*This is how to comment*/  
#pinkparagraph{
    color: pink;
}
.pretty{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.common {
    background-color: aliceblue;
    border: 2px solid purple;
    Position: relative;
}
.lefty {
    z-index: 2;
    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40px;
    background-color: aqua;
    border-radius: 12px;
    position: absolute
}

.righty {
    top: 115px;
    right: 15px;
    width: 100;
    bottom: 40px;
    background-color: yellow;
    border-radius: 12px;
    position: absolute
}

.footer {
    z-index: 4;
bottom: 50px;
height: 100px;
left: 15px;
right: 25px;
position: fixed;
background-color: blanchedalmond;
border-radius: 6px;


}